.App {
    border-radius: 25px;
}

.btn {
    border-radius: 25px;
    display: inline-block;

    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(39, 50, 197, .9);
}